{# sub va valoir true si l'utilisateur est connecté et qu'il est déjà inscrit à l'evenement, sinon il vaut false #}
{% set sub = is_granted("ROLE_USER") and event in app.user.events %}
{# complete vaut true si la propriété maxPublic n'est pas null et qu'il y a autant d'inscrit que de maxPublic  #}
{% set complete =  event.maxPublic and event.subscribers|length == event.maxPublic %}

<div class="col-3">
    <div class="card">
        <img src="{{ asset("images/events/" ~event.image )}}" alt="{{event.title}}" />
        <div class="card-body">
            {% if sub %}
                <span class="badge bg-success">Inscrit</span>
            {% elseif complete %}
                <span class="badge bg-danger">Complet</span>
            {% endif %}
            <h2 class="card-title">{{ event.title }}</h2>
            <p><strong>{{ event.dateEvent|date("d/m/Y - H:i",  "Europe/Paris")}}</strong></p>
            <p class="card-text">{{ event.description|striptags|slice(0, 40) }}...</p>
            <a href="{{ path("app_event", { "id": event.id })}}" class="btn btn-primary">Voir l'évenement</a>
           
            {{ include("front/_event_subscribe_buttons.html.twig" )}}
        </div>
    </div>
</div>