{% if sub %}
    <a href="{{ path("app_unsub_event", {"id":event.id})}}" class="btn btn-danger">Se désinscrire</a>
{% elseif complete == false and event.dateEvent > date() %}
    <a href="{{ path("app_sub_event", {"id":event.id})}}" class="btn btn-success">S'inscrire</a>
{% endif %}