{% extends "front.html.twig" %}
{% block main %}
    {# sub va valoir true si l'utilisateur est connecté et qu'il est déjà inscrit à l'evenement, sinon il vaut false #}
    {% set sub = is_granted("ROLE_USER") and event in app.user.events %}
    {# complete vaut true si la propriété maxPublic n'est pas null et qu'il y a autant d'inscrit que de maxPublic  #}
    {% set complete =  event.maxPublic and event.subscribers|length == event.maxPublic %}

    <div class="card">
        <img src="{{ asset("images/events/"~ event.image) }}" alt="{{ event.title }}" />
        <div class="card d-flex flex-row justify-content-around align-items-center">
            <h1>{{ event.title }}</h1>
            <p><strong>{{ event.dateEvent | date("d/m/Y  H:i")}}</strong></p>
             {{ include("front/_event_subscribe_buttons.html.twig" )}}
        </div>
        {% if message is defined %}
        <div class="alert alert-{{ res }}">
            {{ message }}
        </div>
{% endif %}
        <p>{{ event.description|raw }}</p>
    </div>
{% endblock %}

{% block title %}
    {{ event.title}}
{% endblock %}