{% extends 'front.html.twig' %}

{% block title %}>OE< Tous les évenements{% endblock %}

{% block main %}
    <h1>Tous les évenements</h1>
    <h2>A venir</h2>
    <div class="row">
        {% for event in eventsNext %}
            {{ include("front/_event-block.html.twig") }}
        {% endfor %}
    </div>
    <h2>Passés</h2>
    <div class="row">
        {% for event in eventsPrev %}
            {{ include("front/_event-block.html.twig") }}
        {% endfor %}
    </div>
    
{% endblock %}
