{% extends 'front.html.twig' %}

{% block title %}>OE< Organisteur d'évenements{% endblock %}

{% block main %}
    <h1>Organisateur d'évenements</h1>

    <h2>Les prochains événements :</h2>
    <div class="row">
        {% for event in events %}
            {{ include("front/_event-block.html.twig") }}
        {% endfor %}
    </div>
    
{% endblock %}
