{% extends "front.html.twig" %}
{% block main %}
    <h1 class="card-title">{{ app.user.username }}</h1>
    <h2 class="card-title">Mes évènements</h2>
    <div class="row">
        <div class="card">
            <div class="card-body">
                {% if eventsNext|length > 0 %}
                <h3>A venir</h3>
                <div class="row">
                    {% for event in eventsNext %}
                         {{ include("front/_event-block.html.twig") }}
                    {% endfor %}
                </div>
                {% endif %}
                 {% if eventsPrev|length > 0 %}
                <h3>Passés</h3>
                <div class="row">
                    {% for event in eventsPrev %}
                         {{ include("front/_event-block.html.twig") }}
                    {% endfor %}
                </div>
                {% endif %}
                 {% if eventsPrev|length == 0 and eventsNext|length == 0 %}
                    <p>Vous n'avez aucun evenement à afficher !</p>
                 {% endif %}
            </div>
        </div>
    </div>
{% endblock %}