{% extends "base.html.twig" %}
{% block body %}
<div id="content" class="container h-100">
    <header class="row mb-5">
        <nav class="nav nav-pills">
            <a class="nav-link {{ app.request.get("_route")=="app_index" ? "active" }}" href="{{ path("app_index")}}">Accueil</a></li>
            <a  class="nav-link {{ app.request.get("_route")=="app_events" ? "active" }}" href="{{ path( "app_events")}}">Tous les evenements</a>
         </ul>
         <ul class="nav nav-pills">   
            {% if is_granted("ROLE_USER") %}
                <li class="nav-item"><a  class="nav-link  {{ app.request.get("_route")=="app_profile" ? "active" }}" href="{{ path("app_profile")}}">Mon compte</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item"><a  class="nav-link {{ app.request.get("_route")=="admin_index" ? "active" }}" href="{{ path("admin_index") }}">Espace Admin</a></li>
                {% endif  %}
                <li class="nav-item"><a  class="nav-link" href="{{ path("app_logout")}}">Déconnexion</a></li>
            {% else %}
                <li class="nav-item"><a  class="nav-link {{ app.request.get("_route")=="app_login" ? "active" }}" href="{{ path("app_login")}}">Connexion</a> </li>
                <li class="nav-item"><a  class="nav-link {{ app.request.get("_route")=="app_sub" ? "active" }}" href="{{ path("user_new")}}">Inscription</a></li>
            {% endif  %}
        </ul>
    </header>
    <main class="row  mb-5">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="row">
        Footer
    </footer>
</div>
{% endblock %}