<div class="row d-flex justify-content-center">
    <div class="col-3 mt-5 card">
        {{ form_start(form) }}
            <div class="card-body">
                <div class="mb-3">
                    {{ form_label( form.username)}}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        {{ form_widget( form.username)}}
                    </div>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="mb-3">
                    {% for role in form.roles.children %}
                    <div class="form-check">
                        {{ form_row( role)}}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="mb-3">
                    {{ form_row( form.password)}}
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary mb-3 mt-3">{{ button_label|default('Save') }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>