{% extends 'front.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block main %}
    <h1>Bienvenue chez nous !</h1>

    {{ include('user/_form.html.twig') }}
    {% if is_granted("ROLE_ADMIN") %}
     <a href="{{ path('user_index') }}">back to list</a>
    {% else %}
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    {% endif %}
{% endblock %}
